@import "tailwindcss";

@theme inline {
  --color-primary: #0F172A;
  --color-accent: #854D0E;
  --font-sans: var(--font-outfit), var(--font-noto), sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Fix text overflow for non-Korean languages and make line breaks prettier */
html:not([lang="ko"]) .break-keep {
  word-break: normal !important;
  word-break: auto-phrase !important;
  overflow-wrap: break-word !important;
  text-wrap: balance !important;
}
